In [9]:
import pandas as pd

data = pd.read_csv('superstore.csv')
data.head()

,Order.ID,Order.Date,Ship.Date,Customer.ID,Customer.Name,City,State,Country,Region,Market,...,Category,Sub.Category,Quantity,Discount,Order.Priority,Ship.Mode,Shipping.Cost,Year,weeknum,Price
0,CA-2011-130813,2011-01-07,2011-01-09,LS-172304,Lycoris Saunders,Los Angeles,California,United States,West,US,...,Office Supplies,Paper,3,0.0,High,Second Class,4.37,2011,2,2.68
1,CA-2011-148614,2011-01-21,2011-01-26,MV-174854,Mark Van Huff,Los Angeles,California,United States,West,US,...,Office Supplies,Paper,2,0.0,Medium,Standard Class,0.94,2011,4,4.65
2,CA-2011-118962,2011-08-05,2011-08-09,CS-121304,Chad Sievert,Los Angeles,California,United States,West,US,...,Office Supplies,Paper,3,0.0,Medium,Standard Class,1.81,2011,32,2.82
3,CA-2011-118962,2011-08-05,2011-08-09,CS-121304,Chad Sievert,Los Angeles,California,United States,West,US,...,Office Supplies,Paper,2,0.0,Medium,Standard Class,4.59,2011,32,24.41
4,CA-2011-146969,2011-09-29,2011-10-03,AP-109154,Arthur Prichep,Los Angeles,California,United States,West,US,...,Office Supplies,Paper,1,0.0,High,Standard Class,1.32,2011,40,3.11

In [10]:
data.shape

(38078, 24)

In [11]:
data.describe()

,Quantity,Discount,Shipping.Cost,Year,weeknum,Price
count,38078.000000,38078.000000,38078.000000,38078.000000,38078.000000,38078.000000
mean,3.493014,0.043320,28.097896,2012.777877,31.301303,18.400317
std,2.277996,0.087042,60.249248,1.097731,14.395998,33.665955
min,1.000000,0.000000,0.002000,2011.000000,1.000000,0.030000
25%,2.000000,0.000000,2.925000,2012.000000,20.000000,3.110000
50%,3.000000,0.000000,8.417000,2013.000000,33.000000,7.665000
75%,5.000000,0.002000,25.970000,2014.000000,44.000000,19.340000
max,14.000000,0.470000,933.570000,2014.000000,53.000000,1260.000000

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38078 entries, 0 to 38077
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order.ID        38078 non-null  object
 1   Order.Date      38078 non-null  object
 2   Ship.Date       38078 non-null  object
 3   Customer.ID     38078 non-null  object
 4   Customer.Name   38078 non-null  object
 5   City            38078 non-null  object
 6   State           38078 non-null  object
 7   Country         38078 non-null  object
 8   Region          38078 non-null  object
 9   Market          38078 non-null  object
 10  Market2         38078 non-null  object
 11  Segment         38078 non-null  object
 12  Product.ID      38078 non-null  object
 13  Product.Name    38078 non-null  object
 14  Category        38078 non-null  object
 15  Sub.Category    38078 non-null  object
 16  Quantity        38078 non-null  int64
 17  Discount        38078 non-null  float64
 18  Order.Priority  38078 non-null  object
 19  Ship.Mode       38078 non-null  object
 20  Shipping.Cost   38078 non-null  float64
 21  Year            38078 non-null  int64
 22  weeknum         38078 non-null  int64
 23  Price           38078 non-null  float64
dtypes: float64(3), int64(3), object(18)
memory usage: 7.0+ MB

In [13]:
data.isna().sum()

Order.ID          0
Order.Date        0
Ship.Date         0
Customer.ID       0
Customer.Name     0
City              0
State             0
Country           0
Region            0
Market            0
Market2           0
Segment           0
Product.ID        0
Product.Name      0
Category          0
Sub.Category      0
Quantity          0
Discount          0
Order.Priority    0
Ship.Mode         0
Shipping.Cost     0
Year              0
weeknum           0
Price             0
dtype: int64

In [14]:
data.duplicated().sum()

0

In [17]:
data.columns

Index(['Order.ID', 'Order.Date', 'Ship.Date', 'Customer.ID', 'Customer.Name',
       'City', 'State', 'Country', 'Region', 'Market', 'Market2', 'Segment',
       'Product.ID', 'Product.Name', 'Category', 'Sub.Category', 'Quantity',
       'Discount', 'Order.Priority', 'Ship.Mode', 'Shipping.Cost', 'Year',
       'weeknum', 'Price'],
      dtype='object')

In [18]:
data['Ship.Date'].max()

'2015-01-07'

In [19]:
data['Ship.Date'].min()

'2011-01-03'

In [20]:
data['Ship.Date'].value_counts().sum()

38078

In [21]:
data['Order.Date'].value_counts().sum()

38078

In [32]:
data['Ship.Date'] = pd.to_datetime(data['Ship.Date'])

In [46]:
# Filter the DataFrame for all days in January 2015
filtered_data = data[(data['Ship.Date'].dt.year == 2015) & (data['Ship.Date'].dt.month == 1)]
filtered_data['Ship.Date'].min()

Timestamp('2015-01-01 00:00:00')

In [47]:
data['Ship.Date']

0       2011-01-09
1       2011-01-26
2       2011-08-09
3       2011-08-09
4       2011-10-03
           ...
38073   2014-12-04
38074   2014-12-04
38075   2014-12-21
38076   2014-12-26
38077   2014-12-30
Name: Ship.Date, Length: 38078, dtype: datetime64[ns]

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38078 entries, 0 to 38077
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order.ID        38078 non-null  object
 1   Order.Date      38078 non-null  object
 2   Ship.Date       38078 non-null  datetime64[ns]
 3   Customer.ID     38078 non-null  object
 4   Customer.Name   38078 non-null  object
 5   City            38078 non-null  object
 6   State           38078 non-null  object
 7   Country         38078 non-null  object
 8   Region          38078 non-null  object
 9   Market          38078 non-null  object
 10  Market2         38078 non-null  object
 11  Segment         38078 non-null  object
 12  Product.ID      38078 non-null  object
 13  Product.Name    38078 non-null  object
 14  Category        38078 non-null  object
 15  Sub.Category    38078 non-null  object
 16  Quantity        38078 non-null  int64
 17  Discount        38078 non-null  float64
 18  Order.Priority  38078 non-null  object
 19  Ship.Mode       38078 non-null  object
 20  Shipping.Cost   38078 non-null  float64
 21  Year            38078 non-null  int64
 22  weeknum         38078 non-null  int64
 23  Price           38078 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(17)
memory usage: 7.0+ MB

In [52]:
# Convert 'Order.Date' to datetime format
data['Order.Date'] = pd.to_datetime(data['Order.Date'], format='%Y-%m-%d')

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38078 entries, 0 to 38077
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order.ID        38078 non-null  object
 1   Order.Date      38078 non-null  datetime64[ns]
 2   Ship.Date       38078 non-null  datetime64[ns]
 3   Customer.ID     38078 non-null  object
 4   Customer.Name   38078 non-null  object
 5   City            38078 non-null  object
 6   State           38078 non-null  object
 7   Country         38078 non-null  object
 8   Region          38078 non-null  object
 9   Market          38078 non-null  object
 10  Market2         38078 non-null  object
 11  Segment         38078 non-null  object
 12  Product.ID      38078 non-null  object
 13  Product.Name    38078 non-null  object
 14  Category        38078 non-null  object
 15  Sub.Category    38078 non-null  object
 16  Quantity        38078 non-null  int64
 17  Discount        38078 non-null  float64
 18  Order.Priority  38078 non-null  object
 19  Ship.Mode       38078 non-null  object
 20  Shipping.Cost   38078 non-null  float64
 21  Year            38078 non-null  int64
 22  weeknum         38078 non-null  int64
 23  Price           38078 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(16)
memory usage: 7.0+ MB

In [54]:
data['Discount']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
38073    0.2
38074    0.2
38075    0.2
38076    0.2
38077    0.2
Name: Discount, Length: 38078, dtype: float64

In [57]:
data['Market2'].unique()

array(['North America', 'EU', 'LATAM', 'Africa', 'APAC', 'EMEA'],
      dtype=object)

In [58]:
data['Market'].unique()

array(['US', 'EU', 'LATAM', 'Africa', 'APAC', 'EMEA', 'Canada'],
      dtype=object)